.simplifier
.validator
.publisher

fhirpkg.lock.json

fsh/fsh-generated
fsh/input-cache
fsh/temp
fsh/output
fsh/template

json/gofsh
json/Beispiele/gofsh
xml/gofsh
xml/Beispiele/gofsh
fsh/gofsh
jsfshon/Beispiele/gofsh

node_modules
fsh/node_modules